.modal.fade.in{
	display: block;
    position: fixed;
	opacity: 1;
}

.modal-backdrop.fade.in{
	opacity: 0.5;
}

@media screen and (min-width: 992px) {
	.app-main__inner .tabs-animation > .card {
		width: calc(100vw - 400px) !important;
	}

	.closed-sidebar .app-main__inner .tabs-animation > .card {
		width: calc(100vw - 200px) !important;
	}
}

table.dataTable {
	max-width: 100% !important;
}
.dataTables_wrapper {
	overflow: hidden;
}
